<h1><%= @list.name %></h1>
<%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <strong><%= bookmark.movie.title %></strong> - <%= bookmark.comment %>
      <small>(Rating: <%= bookmark.movie.rating %>)</small>
      
      <%# Lien de suppression %>
      <%= link_to "Delete", 
          bookmark_path(bookmark), 
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } 
      %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to lists", lists_path %>
